.Ground 
{
    position: fixed;
    background-image: linear-gradient(45deg,rgb(41, 152, 255), rgb(0, 255, 166));
    height:100%;
    width: 100%;

}
h3
{
    display: flex;
    width: 100%;  
    font-size: 30px;
    text-align: center;
}


#NomeField
{
    
    width: 100%;  
    display: flex;
    
}

#GenderField
{
  
    
    display: flex;
    width: 100%;  
    
         
}

#EmailField
{

    display: flex;
   
    width: 100%;  
    
          
}

#ScheduleField
{
 
    display: flex;
    
    width: 100%;  
    align-items: center;
         
}

#NightsField
{
 
    
    display: flex;
    width: 100%;  
    
         
}

#GuestsField
{
 
    
    display: flex;
    width: 100%;  
    
        
}

#AmountField
{
 
    display: flex;
    
    width: 100%; 
    
         
}
#MessageField
{
 
    
    display: flex;
    width: 100%;  
    
    align-items: center;      
}
#Submitbtn
{
    width: 150px;
    color: white;
    background-image: linear-gradient(45deg,rgb(41, 152, 255), rgb(0, 255, 166));
}
label 
{
    font-weight: bold;
    margin-right: 10px;  
}

.Fieldbox 
{

    
    width: 400px;
    
    align-items: left;
    
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: top;
    
}

.MainDiv
{
    color: white;
    background-color: rgb(53, 53, 53);
    width: 500px;
    height: auto;
    border-radius: 10%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}

form
{
    width: 100px;
}
