body 
{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/624/380/1000/life-resort-hotel-resort-hotel-wallpaper-preview.jpg");
}
h3
{
    width: 100%;
    text-align: center;
    top: 20px; 
   
}


#NomeField
{
    top: 100px;
    width: 300px;  
    
    align-items: center;
}

#GenderField
{
  
    
    top: 150px;
    width: 300px;  
    
    align-items: center;      
}

#EmailField
{

    
    top: 200px;
    width: 300px;  
    
    align-items: center;      
}

#ScheduleField
{
 
    
    top: 250px;
    width: 350px;  
    
    align-items: center;      
}

#NightsField
{
 
    
    top: 300px;
    width: 300px;  
    
    align-items: center;      
}

#GuestsField
{
 
    
    top: 350px;
    width: 300px;  
    
    align-items: center;      
}

#AmountField
{
 
    
    top: 400px;
    width: 300px;  
    
    align-items: center;      
}
#MessageField
{
 
    
    top: 450px;
    width: 350px;  
    
    align-items: center;      
}
label 
{
    font-weight: bold;
    margin-right: 10px;  
}

.Fieldbox 
{
    position: absolute;
    font-size: 15px;
    
    
    display: flex;
    justify-content: center;
    top:100px;

   
}

.MainDiv
{
    position: absolute;
    color: white;
    background-color: rgb(40, 40, 40);
    width: 40%;
    height: 90%;
    border-radius: 10%;
    
    
    
}

